<a href="https://colab.research.google.com/github/RA2112701010004TR/RA2112701010004-Panda-Case-study-/blob/main/School_Case_study_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving CASchools.csv to CASchools (1).csv

In [3]:
import pandas as pd
data=pd.read_csv('CASchools.csv')
data

     Unnamed: 0  district  ...        read        math
0             1     75119  ...  691.599976  690.000000
1             2     61499  ...  660.500000  661.900024
2             3     61549  ...  636.299988  650.900024
3             4     61457  ...  651.900024  643.500000
4             5     61523  ...  641.799988  639.900024
..          ...       ...  ...         ...         ...
415         416     68957  ...  700.900024  707.700012
416         417     69518  ...  704.000000  709.500000
417         418     72611  ...  648.299988  641.700012
418         419     72744  ...  667.900024  676.500000
419         420     72751  ...  660.500000  651.000000

[420 rows x 15 columns]


**To Display Top 10 Rows of The Dataset:**

In [4]:
data.head(10)

   Unnamed: 0  district  ...        read        math
0           1     75119  ...  691.599976  690.000000
1           2     61499  ...  660.500000  661.900024
2           3     61549  ...  636.299988  650.900024
3           4     61457  ...  651.900024  643.500000
4           5     61523  ...  641.799988  639.900024
5           6     62042  ...  605.700012  605.400024
6           7     68536  ...  604.500000  609.000000
7           8     63834  ...  605.500000  612.500000
8           9     62331  ...  608.900024  616.099976
9          10     67306  ...  611.900024  613.400024

[10 rows x 15 columns]

**Check Datatype of Each Column**

In [5]:
data.dtypes

Unnamed: 0       int64
district         int64
school          object
county          object
grades          object
students         int64
teachers       float64
calworks       float64
lunch          float64
computer         int64
expenditure    float64
income         float64
english        float64
read           float64
math           float64
dtype: object

**Check Last 10 Rows of The Dataset**

In [6]:
data.tail(10)

     Unnamed: 0  district  ...        read        math
410         411     61770  ...  699.099976  697.299988
411         412     68908  ...  695.400024  701.099976
412         413     69161  ...  693.299988  703.599976
413         414     68981  ...  698.299988  699.900024
414         415     69682  ...  698.900024  701.700012
415         416     68957  ...  700.900024  707.700012
416         417     69518  ...  704.000000  709.500000
417         418     72611  ...  648.299988  641.700012
418         419     72744  ...  667.900024  676.500000
419         420     72751  ...  660.500000  651.000000

[10 rows x 15 columns]

**How many rows and columns are there in our Dataset?**

In [7]:
len(data.columns)

15

In [8]:
len(data)

420

In [9]:
data.info

<bound method DataFrame.info of      Unnamed: 0  district  ...        read        math
0             1     75119  ...  691.599976  690.000000
1             2     61499  ...  660.500000  661.900024
2             3     61549  ...  636.299988  650.900024
3             4     61457  ...  651.900024  643.500000
4             5     61523  ...  641.799988  639.900024
..          ...       ...  ...         ...         ...
415         416     68957  ...  700.900024  707.700012
416         417     69518  ...  704.000000  709.500000
417         418     72611  ...  648.299988  641.700012
418         419     72744  ...  667.900024  676.500000
419         420     72751  ...  660.500000  651.000000

[420 rows x 15 columns]>

**Check null values in the dataset**

In [10]:
data.isnull().sum

<bound method DataFrame.sum of      Unnamed: 0  district  school  county  ...  income  english   read   math
0         False     False   False   False  ...   False    False  False  False
1         False     False   False   False  ...   False    False  False  False
2         False     False   False   False  ...   False    False  False  False
3         False     False   False   False  ...   False    False  False  False
4         False     False   False   False  ...   False    False  False  False
..          ...       ...     ...     ...  ...     ...      ...    ...    ...
415       False     False   False   False  ...   False    False  False  False
416       False     False   False   False  ...   False    False  False  False
417       False     False   False   False  ...   False    False  False  False
418       False     False   False   False  ...   False    False  False  False
419       False     False   False   False  ...   False    False  False  False

[420 rows x 15 columns]>


**Average Income**

In [14]:
data['income'].mean()

15.316588053249177

**Average Expenditure**

In [15]:
data['expenditure'].mean()

5312.407541038877

**Students from different country**

In [16]:
data.columns

Index(['Unnamed: 0', 'district', 'school', 'county', 'grades', 'students',
       'teachers', 'calworks', 'lunch', 'computer', 'expenditure', 'income',
       'english', 'read', 'math'],
      dtype='object')

In [17]:
data['county'].value_counts()

Sonoma             29
Los Angeles        27
Kern               27
Tulare             24
San Diego          21
Santa Clara        20
Humboldt           17
San Mateo          17
Shasta             13
Fresno             12
Merced             11
Placer             11
Orange             11
Santa Barbara      11
San Bernardino     10
El Dorado          10
Kings               9
Nevada              9
Ventura             9
Siskiyou            9
Marin               8
Tehama              8
Santa Cruz          7
Contra Costa        7
Stanislaus          7
Monterey            7
Sacramento          7
Sutter              6
Tuolumne            6
Imperial            6
San Joaquin         6
Butte               6
Lassen              5
Madera              5
Riverside           4
Glenn               3
San Benito          3
San Luis Obispo     2
Yuba                2
Lake                2
Trinity             2
Mendocino           1
Inyo                1
Alameda             1
Calaveras           1
Name: county, dtype: int64

**Total number of students who have KK-06 grade**

In [18]:
data.columns

Index(['Unnamed: 0', 'district', 'school', 'county', 'grades', 'students',
       'teachers', 'calworks', 'lunch', 'computer', 'expenditure', 'income',
       'english', 'read', 'math'],
      dtype='object')

In [19]:
len(data[data['grades'].str.contains('kk-06',case=False)])

61

**Total number of students who have KK-08 grade**

In [20]:
data.columns

Index(['Unnamed: 0', 'district', 'school', 'county', 'grades', 'students',
       'teachers', 'calworks', 'lunch', 'computer', 'expenditure', 'income',
       'english', 'read', 'math'],
      dtype='object')

In [22]:
len(data[data['grades'].str.contains('kk-08',case=False)])

359

**Average math mark**

In [23]:
data.columns

Index(['Unnamed: 0', 'district', 'school', 'county', 'grades', 'students',
       'teachers', 'calworks', 'lunch', 'computer', 'expenditure', 'income',
       'english', 'read', 'math'],
      dtype='object')

In [24]:
data['math'].mean()

653.3426185244606